[2020-07-11 12:57] gimseng opened #1 "Idea for exercise (linear regression)"
Goal: Learn how to use linear regression

Packages needed: sklearn.linear_model.LinearRegression

Idea and task:
- Obtain interesting dataset with rather linear relationship. E.g. include GDP vs Happiness Index, crop yield vs rain fall and etc

- Apply Linear Regression.
- Bonus and extra credits : Understanding outliers, multi-dimensional regressions

[2020-07-11 13:07] gimseng opened #3 "Perhaps a checklist for goals/to-do will be good"
A good checklist of todos relating to ideas/suggestions will be useful.

[2020-07-11 13:13] #3 closed

[2020-07-11 13:17] gimseng opened #5 "Create category for different levels and topics?"
As number of exercises grow, we might want to restructure things a little to properly categorize them. For e.g., maybe intermediate should take 300 above and advanced/state-of-the-arts will take 900 above or something. Then within each range of numbers, we could have different topics taking different numberings.

[2020-07-11 13:22] gimseng opened #6 "Recruiting for core"
Anyone interested in maintaining and developing this repo as core team? Please comment below

[2020-07-11 14:18] Ar-Kareem commented on #6
I'm interested and can definitely contribute on maintaining and developing during my free time.

[2020-07-11 14:26] firebolt7 commented on #6
I'm interested

[2020-07-11 14:39] dbbvitor commented on #6
I'm interested!

[2020-07-11 16:04] cundo92 commented on #6
I’m interested. I can’t offer any ML experience but would be interested with documentation. I have plenty of experience with creating and maintaining GitHub wikis.

[2020-07-11 16:41] malwaredllc commented on #6
I'm interested. I have experience creating and maintaining large open source projects, as well as some ML experience (still learning though). By the way, I tried to join the discord channel but it didn't work for me? Anyone else had an issue with this?

[2020-07-11 17:16] elkhader commented on #6
I'm interested

[2020-07-11 17:18] gimseng commented on #6
Thanks everyone for the replies ! Please see if you create some exercises. If the current readme and other docs are not clear, please create an issue and suggest how to fix it.

@malwaredllc the discord link is https://discord.gg/GRQXuq , and I (and a few others) seem to be able to join. Try again and let me know if you still can't join.

[2020-07-11 20:51] aarpit1010 opened #7 "Beginner's ML coding exercises"
Goal: To learn one of the most important part of doing a ML project/question, Data Wrangling and then perform basic Classification based Supervised Learning Algorithms.

What and Why : To predict the survival of the passengers of The Titanic. We will be doing this to be able to have a hands-on learning experience for classification problems and an introduction to solve various ML problems. It migh

[2020-07-12 04:42] rexdivakar commented on #6
Interested !!

[2020-07-12 05:22] gimseng commented on #7
@aarpit1010 Great starter project ! Do you want to create this exercise and/or the solution? We are still building contributing guidelines, but if you are used to git and GitHub, feel free to jump right in. If you have questions or need help, please feel free to ask. Things are a bit loose at the moment, so any format or style is fine.

[2020-07-12 10:53] gimseng commented on #6
Great, thanks everyone for the interest. I will add you all as collaborator on GitHub. If you are not too experienced using GitHub (fork,clone, push, pull and etc), maybe try to submit issues and create pull request.

For those who are experienced in GitHub already, please let me know. Maybe send me a direct message on the discord channel. It will be a great help for you to start reviewing the pul

[2020-07-12 12:23] gimseng commented on #6
So I just added everyone above to contributor access. Please join discord. We have also set up a core team chat room. Please send me (JimNg) or DBlackBird a direct message on discord to get access to the chat room. We will then take the more informal discussions there. Looking forward to getting know you all and thanks for the interest !

[2020-07-12 17:09] gimseng opened #9 "Create code of conduct"
Need a first pass/draft of code of conduct. Probably will be modified appropriately once the core team is more organized

[2020-07-12 17:22] #9 closed

[2020-07-12 17:22] gimseng opened #11 "Update contributing guideline"

[2020-07-12 18:15] #7 closed

[2020-07-12 18:23] #11 closed

[2020-07-12 18:34] gimseng opened #15 "Create unit test / CI"
Perform CI (purest) for code reviews. I am not entirely sure about how to do that for Jupyter notebook (.ipynb) but was reading around the internet and it seems like catching the error when converting it to .py file is the way to go.

[2020-07-12 18:36] gimseng opened #16 "Idea for exercise (CNN on MNIST data: handwriting digit classification)"

[2020-07-12 18:39] gimseng commented on #15
Also pep3 lint test

[2020-07-13 08:50] gimseng opened #18 "Create cheatsheets"
[] Python refresher
[] Numpy and Pandas cheatsheet
[] Sklearn cheatsheet
[] PyTorch cheatsheet
[] TensorFlow cheatsheet

[2020-07-13 09:16] gimseng commented on #5
Create table of contents to organize the projects into chapters/topics/etc.

[2020-07-13 09:17] gimseng commented on #5
@cundo92 Will you be interested in getting started on this?

[2020-07-13 14:06] gimseng opened #19 "Links and relations to other code-based open source learning project"
1.a. Curate a list of GitHub-hosted code examples/exercises. From the top of my head, I could think of [joelgrus](https://github.com/joelgrus/data-science-from-scratch) and [ageron](https://github.com/joelgrus/data-science-from-scratch). Both are fantastic resources.

b. Since these other resources are great open source codes, perhaps we could incorporate some of them (with appropriate credit and

[2020-07-13 14:54] cundo92 commented on #5
Yea I can take this one.

[2020-07-13 15:11] gimseng commented on #5
@cundo92  go ahead ! Thanks for that !

[2020-07-13 15:21] cundo92 commented on #18
The [datacamp cheat sheets](https://www.datacamp.com/community/data-science-cheatsheets) came to mind. We could link these under a larger e.g. **Resources** page? Where the links to other open-source contents (i.e. issue #19) could also be found.

[2020-07-13 16:11] Ar-Kareem commented on #1
If we were to walk the reader into understanding linear regression from scratch I think these would be the logical steps from introducing a task to explain a small part of it

    1- explain what the task is... input/output (features vs predicted variable)
    2- "How will we solve this?"... present the first ML idea, Linear Regression line formula (y = w*x+b) or (y = b+w_1*x_1+w_2*x_2+...w_n*x_n)

[2020-07-13 16:14] gimseng commented on #18
@cundo92 that's a great idea ! I personally keep a lot of these cheatsheet codes in some .py and .ipynb. I wonder if there is value in doing so here.

For now maybe links to resources will be great, as you said, also pertaining to the other issue.

[2020-07-13 16:16] cundo92 commented on #18
Ok great. I'll give it a go later on today.

[2020-07-13 16:17] gimseng commented on #1
@Ar-Kareem Thats a great set up ! I totally agree with your approach. Please go ahead and set out the exercise and solution. I cleaned up the contributing guideline a little, bringing some format to how things should be organised.

Please proceed in anyway you see fit, and maybe we can have more discussion when pull request is made. Thanks !

[2020-07-13 16:22] gimseng commented on #6
Hey all, I will probably   close this issue within a week.

Hopefully I will get a semi structured project up within a week-ish. After which, probably if there is at least 2-3 active maintainers, I could implement a requirement for pull request to be approved by 2-reviewers. Currently, I do a lot of minor changes so its sort of hard to wait, plus I am not sure how frequently other core people chec

[2020-07-13 17:05] gimseng opened #24 "Dependencies and libraries"
For .py files, we need to have a requirement file and instruction on how to install it. There may be a need to do virtual environment or docker file deployment.

For Jupyter notebook, should we have some sort of standardised header codes to install a standard version of libraries? Also for Jupyter file, if we recommend google colab, then we don't have to worry about Jupyter notebook version and de

[2020-07-13 17:46] gimseng opened #25 "How learners should use this project?"
I realize that someone who's not in the loop who stumbles across this repo might not know what to do with it. Are they supposed to:

(a) fork it and just read through python codes or

(b) actively contributing exercises or

(c) be maintainers(?)

(d) do nothing?

[2020-07-13 17:49] aarpit1010 commented on #16
I can give this one a try, as I had done this as a practice before. But, if you could give me some time then I can do this by the end of this week.

[2020-07-13 17:57] gimseng commented on #16
@aarpit1010 Excellent ! Thanks for volunteering. Of course, take your time. The whole point of open source contribution is to do so when you have time and enjoy doing so. Be sure to check out the updated contributing guidelines. I wrote down more details on the format which should be helpful.

[2020-07-13 17:58] gimseng commented on #25
Personally I envision the following groups of people and how each group should make the best out of the repo to learn:

Group A: super new to machine learning, maybe a few weeks into learning Python, new to numpy, pandas and etc. I imagine they will mostly read and run thru the python codes. If they are stuck or do not understand some codes or some codes yield error or do not run, they could raise

[2020-07-13 18:03] gimseng commented on #25
Group B: intermediate machine learning people. I hope that they could be the ones criticising our solutions, proposing a better code, contributing new exercise and solutions. Furthermore this serves as a playground to use git. If there are enough such people, the project coverage could grow to involve more advanced exercises, such as cv or nlp or reinforcement learning. These will be valuable even

[2020-07-13 18:06] gimseng commented on #25
Group C: guru in everything we are doing here. Then, I would love for them to help maintain the repo. Help us run the project better. They can implement better format of the project, better code practice. Provide 'master class' level tutorial exercise. Teach us scalable big data tech and etc. The list probably goes on forever.

[2020-07-13 18:07] gimseng commented on #25
Others: I am pretty sure I left out a big group of people. If so, please comment and let us know either below or through an issue ticket. Please let us know how best to help you learn

[2020-07-14 08:58] gimseng commented on #6
@aarpit1010 @Ar-Kareem @elkhader @firebolt7 @malwaredllc @rexdivakar Just to check that you got the collaborator invite for the project. As I mentioned above, I'll start organizing the team a little, so if you are not active, please let me know. If you are still interested, do accept the access invitation. Perhaps in the next days or two, create an issue or comment on an issue/pull request, so tha

[2020-07-14 11:41] gimseng opened #26 "Titanic exercise with PyTorch"
Seems like we have a Tensorflow solution, it will be nice to have a PyTorch implementation of a simple neural network for survival classification.

[2020-07-14 12:27] gimseng commented on #19
I found [d2L.ai](https://d2l.ai/index.html) to be a fantastic resource as well. I think we are philosophically similar to their approach.

[2020-07-14 14:46] gimseng commented on #15
[x] Create flake8 (pep8) lint test whenever pull-request occurs. This applies to all `.py` file. See #30
[ ] Create flake8 for Jupyter notebook

[2020-07-14 21:52] malwaredllc opened #35 "Python versions of programming assignments for Andrew Ng's ML Coursera course"
I'm currently doing Andrew Ng's famous ML course on Coursera (https://www.coursera.org/learn/machine-learning/home/welcome) and found this neat Github repo which provides Juptyer Notebooks for students who prefer to use Python for the programming assignments rather than Octave/MATLAB (since Python is much more applicable these days, but the course is unparalleled in teaching the theory / fundament

[2020-07-15 05:52] gimseng commented on #19
Also found https://github.com/fastai to be great

[2020-07-15 06:32] gimseng commented on #35
@malwaredllc great idea ! I was thinking instead of just including a bulk bunch of them or just links, we could at various projects use their exercises and solutions (following their license permissions) and incorporate into our set of exercises.

For e.g. if they have a great SGD homework and solution, we could reuse it and give credits and maybe adapt to our format. We should definitely link the

[2020-07-15 06:32] gimseng commented on #19
Link to https://github.com/dibgerge/ml-coursera-python-assignments as discussed in #35

[2020-07-15 06:34] gimseng commented on #25
Perhaps I should polish above and make it into the documentation of ‘how to use this project’

[2020-07-15 06:36] gimseng commented on #15
I think since we are not building a package or library, it doesn’t make send to do too much testing. At this point pep8  linting and if the codes run without error, that should be a good starting point.

[2020-07-15 07:41] gimseng commented on #19
Also found https://course.fullstackdeeplearning.com recently, very similar to our philosophy/method.

[2020-07-15 08:03] gimseng commented on #25
As another use for this project, could the following model/vision be a useful thing:

There are many many many coding examples online (see #19), and many of them are excellent. So far, I haven't found a well-maintained. curated (with comments and perhaps discussions on the pros and cons of each source)  and updated (with other GitHub people reproducing arxiv papers) frequently.

For my own learnin

[2020-07-15 08:18] #6 closed

[2020-07-15 09:10] aarpit1010 commented on #19
There is another website [https://pyimagesearch.com](https://pyimagesearch.com) which contains deep learning tutorials based on projects but one needs a good grip in python to understand them.
Also, coursera had started some courses on [Guided Projects](https://blog.coursera.org/announcing-guided-projects/) with hands on coding experience.

[2020-07-15 12:11] gimseng commented on #19
Thanks @aarpit1010 , also another good resource: https://github.com/curiousily/Deep-Learning-For-Hackers

[2020-07-15 13:20] gimseng commented on #24
Not too sure about virtual environment and docker file for the moment. I basically spelled out the dependencies in my google colab running exercise 001. For future purpose, we need to decide if this is the way we want to standardize our library requirements.

[2020-07-15 17:43] gimseng commented on #15
Finally found the solution to deal with module, testing and version control with notebooks. The nbdev package of fast.ai provides such a solution. See https://www.fast.ai/2019/12/02/nbdev/

It also generates documentations so that you can read the notebook like a HTML page with figs and etc. I guess that's how fast.ai courses are built.

We could potentially use this tool to build up a static mark

[2020-07-15 17:44] gimseng commented on #15
There are two other solutions that are closely related to the above development: https://github.com/jupyterlab/jupyterlab-git and https://www.reviewnb.com

Might be interesting to think about version control with this as well

[2020-07-15 17:45] gimseng commented on #15
Finally, we can imagine going all colab. If notebooks can work out to be the main way to go and we use colab as our prefer 'IDE', nbdev + colab is a possible way to standardise everything.

See https://forums.fast.ai/t/using-nbdev-with-google-colab/61755/12

[2020-07-16 08:10] gimseng opened #40 "more details on git docs"
Create a more specific fork-clone-... steps for *our* project. A step-by-step version of how to do that and contribute new exercise and/or solution will be useful to new git/github users.

[2020-07-16 08:23] gimseng opened #41 "Exercise to use huggingface"
Some exercises and solution based on using [huggingface](https://github.com/huggingface) will be cool. This is an advanced project. For examples, use the library to perform BERT or GPT-2 analysis on some fun NLP-related data.

[2020-07-16 08:23] gimseng opened #42 "Exercise to use opencv"

[2020-07-16 08:50] gimseng opened #43 "A simple exercise to understand stochastic gradient descent"
In particular, help a learner to learn full gradient descent, mini-batch stochastic gradient descent and etc.

It could be on linear regression or some simple neural network or etc.

But should focus on understanding the differences between the different gradient descent approaches, pros and cons, how fast/slow learning, how about data-set size and etc?

[2020-07-16 12:47] gimseng commented on #19
Another fantastic resource is : https://github.com/Avik-Jain/100-Days-Of-ML-Code
All the cheatsheets / explanatory-posters are great !

[2020-07-18 06:14] AjayKhalsa opened #48 "Create a detailed format for the project"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-18 06:19] AjayKhalsa commented on #48
A template for readme page for each exercise and solution which would also contain links to quality resources on the topic in the solution readme.

[2020-07-18 06:32] gimseng commented on #48
@AjayKhalsa Thanks ! This is a good issue. We should discuss more details on a good format here. Any ideas / suggestions ?

[2020-07-18 07:11] AjayKhalsa commented on #48
The format for the exercise readme could include explanation of the problem statement & explaining all the labels of the data
& for the solution we could provide links for study material first to go through and then the solution with explanation (Preferably) as to why we followed that approach. The solution would be .ipynb file mostly and the resources would be in it's readme.

[2020-07-18 07:22] gimseng commented on #48
@AjayKhalsa Great ! Like the idea. If others have suggestions/comments, do comments here.

Otherwise, there are at least two things to do:

- [ ] Update readme for exercise and solution in 001 to provide an exemplary example of what we want.

- [ ] Either in the contributing.md or in a new submitexercise.md (linked from main repo readme and contributing.md),details this format and provide examples

[2020-07-18 07:23] gimseng commented on #48
@cundo92 This might be related to documentation and/or wiki, thought you might be interested.

[2020-07-18 16:43] cundo92 commented on #48
Yea can definitely work on this

[2020-07-19 06:58] gimseng commented on #24
Need to open this up. I think should have a few docs for different install requirements / dependencies:

- [x] Google colab
- [ ] Jupyter notebook (Jupiter lab too?)

- [ ] Regular python files (.py)

[2020-07-19 08:48] gimseng opened #49 "[EXE] GPT-2 Use"
#### Learning Goals
OpenAI has generated lots of hype with GPT-3. In some way, its like GAN but for NLP to generate 'fake' texts with some primes and prompts.

The goal of the exercise is to teach the learners on how to use the model, rather than how to train/build.

### Exercise Statement
Pick some prompts / primes from some recent controversial and generate texts. For eg it could be about masks,

[2020-07-19 09:04] gimseng commented on #49
This is related to #41

[2020-07-19 20:08] aarpit1010 commented on #19
Check out [this one](https://github.com/aymericdamien/TopDeepLearning).
It is a nicely organized repo.

[2020-07-20 07:22] gimseng opened #50 "[BUG] For google colab use, data paths not correct"
**Describe the bug**
Data paths are not correct for google colab use. Users either have to download and then upload to their google drive OR they should point the data source to the correct data in our GitHub repo

**Proposed Solution**
Either point all our data sources to our GitHub links OR/AND provide docs on how to upload files to their google drive and mount google drive on google colab.

[2020-07-20 18:05] gimseng commented on #50
Need to fix 001 data source path.

[2020-07-20 18:12] gimseng opened #51 "Organise the exercise creation workflow"
**Is your feature request related to a problem? Please describe.**

It seems like a very time consuming task to write the exercise statement, write the codes, test the codes, and polish up all the above steps by one person.

**Describe the solution you'd like**
I am very impressed by the quality of freecodecamp and recently delved into their process of creating a exercise. It is very similar to wh

[2020-07-20 19:40] gimseng opened #52 "[EXE] Ensemble and stacking methods"
#### Learning Goals
[Learning goals, bulleted/numbered list is preferred]
Starting with randomforest, adaboost, etc up to popular LightGBM, XGBoost, expose learners to a variety of bagging/boosting/ensemble/stacking techniques.

This could be a series of 4-5 exercises.

[2020-07-21 06:58] #50 closed

[2020-07-24 07:05] Rajwrita commented on #35
I have a repo with a collection of ML, DL projects from several courses by deeplearning.ai. The [link](https://github.com/Rajwrita/ML-DL-Projects) :)

[2020-07-24 08:00] gimseng commented on #35
@Rajwrita great idea ! If you have any particular favorite project there that you want to link to here / submit here, feel free to create an issue/PR. Thanks !

[2020-07-24 13:09] Rajwrita commented on #35
Sure gimseng. will create a PR.

[2020-07-28 10:13] #16 closed

[2020-07-29 12:34] gimseng opened #64 "[IMP] Data visualization of Exercise 002"
Following PR #47, one should provide visualization of the data. I rephrased my previous suggestions to below:

1. Add either in one or both exercise and solution, a plot of the data before running the model, preferable after one has loaded the data. It is useful to list out a few data points (in pandas, that's the head method) and/or plot the graph. In that way, the learners understand how/why we

[2020-07-29 12:37] gimseng opened #65 "[IMP] Data source description for the data in exercise 002"
More detailed descriptions and provide credit to the source of the housing dataset in exercise 002. Please do so in `/exercise/readme.md` and/or in the exercise notebook.

[2020-07-29 12:45] gimseng opened #66 "[IMP] Provide description and credit/source for data used in exercise 004"
As stated in the title. If this is copied/scraped somewhere, provide a source of that. At least provide description.

@Rajwrita Maybe you would be able to help. Thanks !

[2020-07-29 12:50] Rajwrita commented on #66
Hi gimseng, I have made the dataset by combining several songs from the [Arctic Monkeys](https://www.arcticmonkeys.com/). I have not taken the data set from anywhere.

[2020-07-29 12:53] gimseng commented on #66
@Rajwrita Thanks ! If you wrote up the lyrics by memory, then I guess its fine. Maybe just provide the titles of the songs. Otherwise, if its from Arctic Monkey's or wiki's websites on the lyrics, maybe its useful to provide links to those webpages.

[2020-07-29 12:55] Rajwrita commented on #66
Sure! I'll add the links :)

[2020-07-29 12:56] gimseng commented on #66
@Rajwrita  Thanks !

[2020-07-29 13:02] gimseng commented on #66
@Rajwrita While you are at it, could you provide a concise description of the models/techniques you used in your solution in the `solution/readme.md`? Something along the line of (001)[https://github.com/gimseng/99-ML-Learning-Projects/tree/master/003/solution] or (003)(https://github.com/gimseng/99-ML-Learning-Projects/tree/master/003/solution)

[2020-07-29 13:27] Rajwrita commented on #66
Sure, I'll add it in a day.

[2020-07-31 08:34] #66 closed

[2020-08-08 16:55] avats-dev opened #68 "[EXE] idea for exercise 005 : Sentiment analysis"
#### Learning Goals
- learn preprocessing of text data and various important processes such as tokenization and stemming
- learn regular expressions through stopwords removal from text
- learn logistic regression
- learn naive bayes
- learn application of neural networks on text data
- learn vectorization techniques and mathematical implementations through numpy
- learn and use libraries such as p

[2020-08-08 17:01] avats-dev commented on #48
@gimseng I think creating a dummy exercise would do the job and as [000](https://github.com/gimseng/99-ML-Learning-Projects/tree/master/000) exists, we can improve it so that people contributing would just have to copy the template and edit it for their use.

[2020-08-08 17:03] avats-dev commented on #48
And we should also consider that, there are many possible solutions for a particular exercise, and so there might be different contributors for same exercise. So, this should also be taken into account while creating the format so that all contributors have options to add things and edit `readme`.

[2020-08-10 09:50] gimseng commented on #48
@avats-dev Great ideas and I totally agree with both of your comments. Would you want to "upgrade" the 000 exercise? Thanks !

gs

[2020-08-10 17:48] avats-dev commented on #48
@gimseng , thanks for the opportunity, I will start working on it.

[2020-08-11 08:36] gimseng commented on #68
@avats-dev great idea ! I vaguely remember there's a Kagggle twitter project for this. At any rate, go ahead and create a PR when you are ready. Many thanks !

[2020-08-11 12:26] avats-dev commented on #68
Thanks @gimseng , I will do so. It might take some time as I'm trying to incorporate many methods in this one and to get a relative idea of varying accuracy across different models.

[2020-08-11 12:33] gimseng commented on #68
@avats-dev Take your time. One comment though: Don't need to worry about covering comprehensive ideas/methods, if the exercise gets too big. Even though we are early in this repo, the idea is hopefully there will be incremental improvements to each exercise hopefully by different people at different times. Many thanks !

[2020-08-11 16:05] tejasvi541 commented on #68
I have Similar Sentiment Analysis Project with me which i have made watching a tutorial, using the amazon review data from jmcauley.uscd.edu/data/amazon. My model is not that perfect but you can use that data.

[2020-08-12 07:10] avats-dev commented on #68
Hey @tejasvi541 , feel free to open a PR with your model, and then everyone else could review it.

[2020-08-12 07:45] gimseng commented on #68
@avats-dev @tejasvi541 Thanks for all the comments ! I will let both of you figure out the collaboration. Btw, if you want to have more detailed chat, feel free to join the discord. I created a '005-sentiment_analysis' chat channel inside the project section. So a less formal and chatty discussion could happen there. Feel free to use/not use it, so to let you know that its there. Looking forward t

[2020-08-12 14:57] anandravishankar12 commented on #52
Hey,
I was wondering if I could contribute to this issue. This would be my first OSS contribution. I have previously worked in algorithm development area. and presented a paper on a novel pipeline in IEEE CONECCT 2020. Kindly find attached a python file for the first exercise along with file structure (commented out) and sample code implementation. Let me know if I can contribute in any manner.
[h

[2020-08-13 07:25] gimseng commented on #52
Hi @anandravishankar12 thanks for the interest and the help ! And yes, please contribute ! Please check out the contributing guide as well as a few of the projects to see what are the structures and format/convention. Otherwise, its all very informal and flexible. Feel free to create a PR once you created the codes and figured out how to do all the git stuff. Its ok to fumble and make mistakes as

[2020-08-13 11:46] anandravishankar12 commented on #52
Have submitted my first PR. Kindly review it and get back to me with the required changes. Thanks you.

[2020-08-13 19:33] zeina99 opened #71 "[IMP] Adding subtasks in exercise 001"
Since this repo is aimed at people trying to learn machine learning, I think it would be helpful if subtasks were added in exercise 001, especially in regards to data analysis and feature engineering.

Like for example:
- data analysis
    - plot the survival rate of males and females
    - Survival rate based on age
    - etc..
    - finally, what observations do you make of the analysis?
- featu

[2020-08-14 08:12] gimseng commented on #71
@zeina99 Great idea ! I think expanding on the `readme.md` to include detailed subtask is fantastic !

At the practical level, would you be interested in working on this? I presume that we should update the exercise description in `readme.md` first. Then, we should accordingly update the solution to reflect on how it addresses each task. If you want to work not the solution (both the code and the

[2020-08-14 10:00] zeina99 commented on #71
I would be glad to work on both!

@gimseng Would you want the tasks to match the steps done in the solution, so that it's somewhat similar? or would be better to just add tasks and then fix up the solution to match the tasks?

[2020-08-17 12:27] Syn-Tax opened #73 "[IMP] Add Pytorch solutions"
Expanding on issue #26 it may be worth adding multiple solutions written using both tf/keras and pytorch. I would be happy to work on solutions to current exercises.

[2020-08-17 12:29] gimseng commented on #73
@Syn-Tax Great ! Please go ahead and proceed as you see fit. One organization comment: Since we already organize the current 2 solutions as `titanic_classical` and `titanic_tf_nn` it might make sense for you to create a notebook named `titanic_pt_nn` or something to that effect, and then update the `readme.md`.

Thanks and look forward to your contribution !

[2020-08-17 12:32] #1 closed

[2020-08-17 18:52] AjayKhalsa commented on #18
@gimseng We can make a Miscellaneous Resources folder and add the cheatsheets and other resources unrelated to any exercise there

[2020-08-17 20:25] AjayKhalsa commented on #25
@gimseng  For learners instead of just going through the code they should first try implementing the exercise on their own and then if they get stuck somewhere they can refer to the study material for that project and the solution. We can write a guide for learners just like the one for the contributors

[2020-08-18 13:35] #73 closed

[2020-08-18 13:35] #71 closed

[2020-08-18 13:40] gimseng commented on #25
@AjayKhalsa That's a good idea. We should have one contributor's guidelines and one learner's guidelines.
I think we have to standardize or expand on the `readme.md` on the exercise of each project. So far, some are terse, some have well-thought-out notebook with instructions and fill-in-the-blank sections. Maybe we should figure out how we should structure the notebook in `exercise`. I am open to

[2020-08-18 13:41] gimseng commented on #18
@AjayKhalsa Great idea ! We should also avoid just having a big file with a million links. A curated list with some descriptions / our thoughts on them will be good.

[2020-08-19 08:53] #52 closed

[2020-08-19 11:33] #68 closed

[2020-08-19 11:50] gimseng opened #76 "[IMP] 005 sentiment analysis missing codes"
The notebook seems to have some missing codes at the end regarding distributing positive and negative reviews.

@tejasvi541 Could you take a look since you last worked on it? Please fork the current/updated master file and add your codes to the end, if you have them. Thanks !

[2020-08-19 14:36] tejasvi541 commented on #76
Hey @gimseng ,
The notebooks is complete from my side, the mentioning the distribution of positive and negative reviews i have written at the end is actually completed by me in the above cells where i defined the Review Container class in cell number 8.
As it was added by me in last steps so i wrote the description about it in the end.
Thank you.

[2020-08-19 18:10] anandravishankar12 commented on #43
@gimseng Can I start working on this? Would be glad to assist in any way possible.

[2020-08-19 19:54] gimseng commented on #43
@anandravishankar12 absolutely, go ahead ! If you have any questions or need any help, let us know here or in discord chat. Many thanks !

[2020-08-20 08:20] gimseng commented on #76
@tejasvi541 Thanks for the reply. From my side (and checking out the original version in your PR), the nb ends with `We will add one more container class above which will evenly distribute the positives and negatives in cell 8.`

From your side, are there more codes after that? If yes, could you add to the current version on the repo? If no, then I don't quite understand the last sentence of the n

[2020-08-20 10:29] tejasvi541 commented on #76
Hi @gimseng ,
I will have a look to the notebook again thoroughly and will make the desired changes which you have mentioned, incase I would not make that issue resolve , I will let you know about that.
Thanks..

[2020-08-23 20:58] sanskarvijpuria opened #78 "[FEA] CIFAR10 Machine Learning Project"
**Is your feature request related to a problem? Please describe.**
CIFAR10 is one of the basic datasets in machine learning. And if you have already have worked with MNIST dataset, CIFAR dataset helps is where we should move to get familiar with images having 3 Channels(coloured images).

**Describe the solution you'd like**
I want to include exercise. And a basic solution implemented in PyTorch.

[2020-08-24 07:40] gimseng commented on #78
@sanskarvijpuria Absolutely go ahead! Thanks for contributing. Start with folder `007` and follow the contributor's guidelines. It's probably useful to check out one of previous projects (`001`-`006`) to get a sense of how we organize things. Thanks !

[2020-09-01 21:38] Dhruv-VINT commented on #1
Hello @gimseng ! I'm willing to make a detailed Linear Regression model/exercise (for this issue) as part of my first contribution towards open source. Can I reopen this issue and add a new Linear Regression exercise in this??

[2020-09-01 22:16] Dhruv-VINT commented on #18
How about we rather create more expansive cheatsheets? Not just ordinary cheat sheets which contains functions syntax but also include the use of a dataset, use it as example for implementing a specific function? (unlike datacamp cheatsheets)
This will not only cover all the information about a library but also give an hands-on experience to people who want to see what exactly a specific code **do

[2020-09-04 21:45] zeina99 commented on #40
I can take this

[2020-09-07 10:48] gimseng commented on #18
@Dhruv-VINT That's a great idea ! I definitely wanted something like this. Would you want to take a shot of this? Something to get started would be a very useful thing already.

[2020-09-07 10:49] gimseng commented on #40
@zeina99 Go for it ! Thanks !

[2020-09-07 20:07] Dhruv-VINT commented on #18
@gimseng Yes surely! I'll get on with it right away.

[2020-09-07 23:44] AnanyaBanerjee opened #81 "[EXE] New idea for excersize on creating a interactive ML application"
#### Learning Goals
For people who want to not just create a machine learning model but also create an interactive dashboard to go with it, this exercise might be a great starting point!

#### Exercise Statement
I will provide a sample machine learning project along with a small tutorial about how to convert it to an interactive project using streamlit and heroku.

#### Prerequisites
Working knowl

[2020-09-11 17:27] gimseng commented on #18
@Dhruv-VINT thanks for taking this! I will assign this to you. We also will create a chat channel in the discord and if anyone wants to collaborate or discuss with you on this task, you can be the point person on this. Otherwise, just follow the contributing guideline and create a pull request when you have something to merge. Feel free to ask questions here or in the discord chat!

[2020-09-13 22:33] mlunghi opened #83 "Mask Detector in Live Cameras[EXE]"
#### Learning Goals
[Learning goals, bulleted/numbered list is preferred]
[e.g. learn the concept and the use of train/validation/test dataset using scikit-learn ]
Learn to preprocess images, use a new mobile neural network architecture, learn tensorflow.

### Exercise Statement
[Explain and describe what the exercise is]
[e.g. apply simple random-forest model to classify titanic survivability fro

[2020-09-14 09:25] gimseng commented on #83
@mlunghi This is a good idea ! Feel free to create the project. The latest available folder is `008`, so feel free to create a pull request when you are ready.

[2020-09-19 04:09] iamarpan opened #84 "Implement Different learning algorithm from scratch with visualization"
One of the most important component of neural networks is the learning algorithms it uses.
Since for most of the beginners it is like a black box.
I am planning to contribute code for these learning algorithms. These will include:
1) Gradient Descent
2) Momentum based Gradient Descent
3) Nesterov Accelarated Gradient Descent
4) AdaGrad
5) RMSProp
6) Adam
It will be a .ipynb file with complete impl

[2020-09-19 04:46] iamarpan opened #85 "Logistic Regression from scratch"
#### Learning Goals
-  Implement logistic regression from scratch using numpy

### Exercise Statement
- The exercise will focus on implementing logistic regression model using a single sigmoid neuron.

### Prerequisites
- Basic knowlegde of numpy, pandas and matplotlib
- anaconda installed to run jupyter notebook

### Data source/summary:
- Data were extracted from images that were taken from genu

[2020-09-23 17:17] gimseng commented on #84
@iamarpan Good idea! Please go ahead, but do read the contributing guidelines and look at one or two of the latest project folders. Many thanks !

[2020-09-23 17:18] gimseng commented on #85
Great idea @iamarpan ! Please submit a PR when you are ready, but do read through the contributing guidelines and look at how some of the other projects are organized. Many thanks !

[2020-09-26 06:49] ashishthanki commented on #43
Hi @anandravishankar12 @gimseng

I would like to help with this too. Perhaps we can share the workload.

[2020-09-26 17:03] iakovidva opened #87 "[EXE 007] pt1: Simple Decision Tree exercise, pt2: Pipelines"
#### Learning Goals

Part 1:
- Work with scikit-learn library, train-test set split, report different scores.
- Decision Trees.

Part 2:
- Work with Pipelines (with DecisionTrees), imputers, scalers and encoders.
- Grid Search.

### Exercise Statement

Part 1:
Apply different Decision Trees to train a model for detecting breast cancer using the breast-cancer-wisconsin-diagnostic-dataset (scikit-le

[2020-09-28 00:58] wkostuch commented on #42
What exactly do you want done here?  Just some examples using openCV?

[2020-09-28 10:45] #40 closed

[2020-09-28 11:22] #64 closed

[2020-09-28 11:53] gimseng commented on #43
Sure @anandravishankar12 and @ashishthanki , i'll let both of you coordinate/collaborate on this. You can the discord channel if you want. Thanks for contributing !

[2020-09-28 12:56] gimseng commented on #87
@iakovidva Great idea ! Please feel free to work on it and create a PR when you are done.
Do check out other existing projects and the contributing guidelines to figure out the practice and format of things. Please do let us know if you have any questions. Thanks !

[2020-09-28 12:57] gimseng commented on #81
Hi @AnanyaBanerjee thanks for the exercise idea. I think having interactive ML application is a great idea.

I am a little concern if python and sklearn are sufficient to create interactive app. Could you please elaborate what you have in mind? Thanks !

[2020-09-29 06:23] pragyakapoor commented on #42
Hey, maybe I can help with this if you provide some more details about what exactly are you looking for.

[2020-09-29 07:16] pragyakapoor commented on #26
Hey, can I work on this?

[2020-09-29 12:24] gimseng commented on #26
Hi @pragyakapoor, thanks for the interest. This issue has been closed and fixed by PR #73 .
If you'd like to contribute PyTorch solutions for other projects, feel free to start a new issue ticket and later create a PR. Thanks !

[2020-09-29 12:26] gimseng commented on #42
Hi @wkostuch and @pragyakapoor , I only had a vague idea of one/a few projects primarily using openCV. I'd imagine the more basic/simple the better for beginners. If there are a few projects you have mind, we can split into a few project folders as well. Its entirely up to you, but I would suggest 1-2 beginner projects to teach someone to get used to using openCV.

[2020-09-29 19:35] pragyakapoor commented on #42
@gimseng great, I have two mini projects in mind that are simple to follow and gives a good idea about openCV to a beginner. Gonna start working on it asap.

[2020-09-30 16:21] vardhanaleti commented on #65
Hey, is anyone adding the link to the source?
I'd found the link and made a PR.

[2020-09-30 20:34] AjayKhalsa opened #90 "[EXE] Malaria Detection"
#### Learning Goals
Work with Tensorflow and image data & implement different models with this (eg- VGG16, VGG19, RSNET)

### Exercise Statement
[Explain and describe what the exercise is]
The dataset contains parasitized and uninfected cells from the thin blood smear slide images of segmented cells. Here a VGG16 model is used to classify the cells as Infected & Uninfected

### Prerequisites
[Prer

[2020-09-30 21:10] AjayKhalsa opened #93 "[DOC] Number pages on the basis of difficulty or how are they related to other projects"
For now, the projects are assigned the number on a first come first serve basis. So if we could categorize it now, it would be way easier when we have a lot of projects. For example, Linear Regression should come before Titanic. The least we could do is classify projects as Machine Learning, Deep Learning, NLP etc

[2020-10-01 07:00] IPSITA2000 commented on #35
I have just finished Andrew Ng's Neural Network course on CNN [https://www.coursera.org/learn/convolutional-neural-networks/home/welcome](url) .  And, as a first time participant in Hacktoberfest , I found this repository , so I was wondering if i could contribute to this repository,  my solutions of weekly tests of that particular course along with their explanation for the fellow students who mi

[2020-10-01 07:49] gimseng commented on #93
@AjayKhalsa Great idea ! Feel free to use your judgements in creating categories and links. We probably need to go through a few iterations once the number of project gets bigger. Many thanks !

[2020-10-01 07:52] gimseng commented on #90
@AjayKhalsa Thanks for the contribution ! Feel free to PR. Let me know if you have any questions on the contributing guidelines or format.

[2020-10-01 07:56] gimseng commented on #81
Cool @AnanyaBanerjee, I've actually wanted to learn how to quickly make ML app. I'm looking forward to your PR. Thanks !

[2020-10-01 07:57] #26 closed

[2020-10-01 07:58] gimseng commented on #65
Hi @vardhanaleti, thanks for the comment/issue. I'll comment/make suggestions on the PR. Thanks !

[2020-10-01 08:02] #65 closed

[2020-10-01 08:07] gimseng commented on #93
I think this is related to #5 too.

[2020-10-01 08:08] gimseng commented on #42
@pragyakapoor perfect ! Feel free to create PR/issue tickets as needed, and do let us know if you have any questions after reading the guidelines and look at a few previous project to get an idea of the format. If you need more help, feel free to ask here or in the discord.

[2020-10-01 08:10] gimseng commented on #35
Hi @IPSITA2000 thanks for contributing ! Definitely welcome any new project. @Rajwrita and @IPSITA2000, why don't you comment here on which exercise/note you want to work on so that we can have each person working on 1-2 exercises and not having too much overlap. And again thanks !

[2020-10-01 08:25] gimseng opened #94 "[EXE] Learning KNN supervised classification"
#### Learning Goals
Learn kNN algorithm for supervised classifications. Preferably use the kNN package from scikit-learn.

### Prerequisites
Some basic of kNN will be assumed. If scikit-learn is used, some basics of how to install scikit-learn library is assumed.

### Data source/summary:
I'm agnostic about which dataset to use, so anything suggested from a textbook exercise/blog is good.

[2020-10-01 08:28] gimseng opened #95 "[EXE] An exercise to learn decision tree"
#### Learning Goals
A in-depth exercise to explore and learn the different aspects/hyperparameters of decision tree. Preferably using scikit-learn.

### Prerequisites
A basic understanding of decision-tree, though this exercise is supposed to go into more detailed on how to use and optimize decision tree.

### Data source/summary:
I'm agnostic to data source, as long as its useful to learn/teach t

[2020-10-01 08:31] gimseng opened #96 "[EXE] Learn regularizations"
#### Learning Goals
Learn different methods of regularizing the models. This could be as basic as the L1, L2 (or ridge/Lasso) regularization or more sophisticated ones in other methods (like regularization hyperparameters in SVM) or even dropouts in neural network.

[2020-10-01 08:32] gimseng commented on #96
Perhaps it makes sense to split this into basic, advanced and neural network exercises as they might involve different techniques.

[2020-10-01 08:32] gimseng opened #97 "[EXE] An exercise to learn support vector machine (SVM)"
#### Learning Goals
Learn the basic and how to optimize / fine-tune hyperparameters of SVM.

[2020-10-01 08:34] AjayKhalsa opened #98 "[IMP] Implement Basic ML Algorithms on a Employee Attrition Dataset"
This issue is especially for Hacktoberfest participants
#### Learning Goals
How different algorithms give different results when implemented on a single dataset

### Exercise Statement
[Explain and describe what the exercise is]
Implement different ML Algorithms like Logistic Regression, Random Forest, XG Boost for Employee Attrition dataset

### Prerequisites
Random-forest model, feature extracti

[2020-10-01 08:37] gimseng commented on #98
Great idea @AjayKhalsa ! As an organization tips, I'd suggest having every contributor to fill in the overall `readme.md` in this project folder (either in root or `exercise`), and there should be either a agreed-upon format/table where we summarize the approach/model, their performances and etc.

It'd be good for the first contributor to start having doing so and we can have a few iterations of t

[2020-10-01 08:38] gimseng commented on #98
Also, for the benefits of collaborations, perhaps we should have each contributor submitting 1-2 models.
So its not just dominated by a few, but encouraging more people to participate in this model comparison exercise.

[2020-10-01 08:47] vishxm commented on #98
I like the idea. I would like to contribute.

[2020-10-01 08:54] gimseng commented on #98
@vishxm Sure, definitely welcomed ! @AjayKhalsa and @vishxm , do you know where to get the dataset?
It might be useful for the first PR to be creating the dataset folder and copy the dataset together with a `readme.md` describing the dataset and the sources/credit.

[2020-10-01 08:56] AjayKhalsa commented on #98
gimme 10 mins i'll add the dataset and an initial structure

[2020-10-01 08:57] IPSITA2000 commented on #35
Thank you Mr. @gimseng !
If its ok i would like to work on [https://www.coursera.org/learn/convolutional-neural-networks/home/welcome .](url)  Week 1's
both the  programming assignments !

[2020-10-01 08:59] gimseng commented on #35
@IPSITA2000 Thanks for the message. I am not too familiar with the CNN coursera curriculum. Perhaps its best if you could tell us more what model/techniques week 1's assignment entails and what data it uses, and what learning goals it aims to achieve. Thanks !

[2020-10-01 09:07] vishxm commented on #96
So, basically markdown files are required to allow users to understand the topics better?

[2020-10-01 09:22] gimseng commented on #96
@vishxm what I meant were creating 1-3 projects, each with different complexity of models. In each, there should be jupyter/python codes illustrating the use of various regularization techniques. Of course, markdown files are always assumed to explain the data/exercise/solution. Perhaps if you could check out some of the previous projects, it might be clearer.

If you have some idea to contribute

[2020-10-01 09:59] AayushK47 opened #100 "[EXE] Implementing naive bayes algorithm from scratch"
#### Learning Goals

Naive Bayes algorithm is one of the most simplest yet powerful ML algorithm out there, often used as a baseline for text based classification. Understanding the working of this algorithm will help in understanding:-

- Conditional probability
- Bayes theorem
- Laplace smoothing

### Exercise Statement
[Explain and describe what the exercise is]
The objective of this exercise i

[2020-10-01 10:00] gimseng commented on #100
Great idea @AayushK47 ! If you already have some codes available to get started, feel free to check out our previous projects and contributing guidelines to see how we structure things here.

[2020-10-01 10:29] AjayKhalsa commented on #93
Oh I didn't see that, check out the structure I made and see if it works

[2020-10-01 11:04] ksdkamesh99 commented on #85
Could you assign it to me @gimseng

[2020-10-01 12:04] #98 closed

[2020-10-01 12:13] #5 closed

[2020-10-01 12:13] #93 closed

[2020-10-01 12:21] gimseng commented on #93
Cool thanks @AjayKhalsa. I already merge your PR.

[2020-10-01 12:22] gimseng commented on #85
Hi @ksdkamesh99, thanks for the interest to contribute. Let me check with @iamarpan on the progress. If its almost done, then my apology, perhaps its best for @iamarpan to finish up. If its half/not much done, maybe @iamarpan and @ksdkamesh99 could collaborate? I'll let both of you comment here / discuss on discord to see how best to proceed.

[2020-10-01 12:31] shree5101 commented on #95
Hey, this i a very good learning opportunity for me and the people who'll look at this too. I'll surely fork this right now.

[2020-10-01 12:33] gimseng commented on #95
@shree5101 Fantastic ! Thanks for contributing ! Do check out the contributing guidelines and other previous projects for an idea of the format.

[2020-10-01 12:41] iamarpan commented on #85
@gimseng I am almost done with the project. I'll raise a pr this weekend. @ksdkamesh99 would love to collaborate with you, you can review my pr(once it's raised) and add your suggestions or improvements.

[2020-10-01 12:44] gimseng commented on #85
Great @iamarpan thanks for the contribution and update ! I'll let both of you take it from here.
Feel free to comment/discuss here or in our discord channel. Thanks !

[2020-10-01 13:21] IPSITA2000 commented on #35
**In week 1's first assignment** one needs to Implement the convolutional and pooling layers in Numpy, including two important mathematical concepts of  forward and backward propagation.
By doing this assignment one gets hands on experience in implementing the different building blocks involved in running neural networks learnt in that weeks video lectures .Also it will clear the concept of how ne

[2020-10-01 13:29] gimseng commented on #35
@IPSITA2000 thanks for the detailed explanation. From what you wrote, it might make sense to split this into two parts, part 1 being first assignment and part 2 being second assignment. It seems that:

- Part 1 teaches conv. and pooling layers (and how to code them from scratch using numpy). Moreover it reviews gradient descend and how to implement them from scratch using numpy. Is there any demon

[2020-10-01 15:18] IPSITA2000 commented on #35
Mr. @gimseng  , I believe Part 1 has doesn't work on any particular set of data , and Part 2 is not exactly a full classification project , it has been trained on only the hand signs provided in the course's data set.

[2020-10-01 15:30] cemeiq commented on #97
Hi. Can I take this issue ? Can this be assigned to me?

[2020-10-01 15:56] Sayoni26 commented on #94
Hey! I would like to work on this. I was thinking about beginner friendly iris plant classification using KNN as the project, using iris dataset. Let me know about your thoughts!

[2020-10-01 16:22] rakshaa2000 opened #105 "[EXE] Logistic Regression as a Neural Network- Basic Deep Learning Algorithms"
#### Learning Goals
[Learning goals, bulleted/numbered list is preferred]
[e.g. learn the concept and the use of train/validation/test dataset using scikit-learn ]
Learn the gradient descent algorithm using numpy and matplotlib.

### Exercise Statement
[Explain and describe what the exercise is]
[e.g. apply simple random-forest model to classify titanic survivability from titanic data ]
This exerc

[2020-10-01 17:24] tanviagwl98 opened #108 "[EXE] Health Insurance Cross Sell Production"
#### Learning Goals
Learn the concept of KNN algorithm for classification.

### Exercise Statement
This exercise helps in classifying likelihood of a person to get insurance policy for his/her vehicle based on different factors including age, gender, having health insurance etc.

### Prerequisites
Must know the basic statistics and a programming language and concepts of scikit-learn.

### Data sou

[2020-10-01 17:38] tanviagwl98 commented on #42
I too have a basic project with the implementation of opencv . Can I go ahead and create a pull request?

[2020-10-02 08:22] AjayKhalsa commented on #108
Looks good @tanviagwl98 Feel free to make a PR when you are ready

[2020-10-02 08:22] gimseng commented on #94
Hi @Sayoni26, please go ahead and implement the codes. Thanks for contributing ! Please read the contributing guidelines and other previous projects in this repo to understand the format and organization. Looking forward to your PR.

[2020-10-02 08:22] gimseng commented on #108
@tanviagwl98 Thanks for contributing !

[2020-10-02 08:24] AjayKhalsa commented on #105
@rakshaa2000 can you use the cats vs dogs dataset instead, because that would be great.

[2020-10-02 08:25] gimseng commented on #97
Hi @cemeiq, sure you can take this. What data and models do you have in mind?

[2020-10-02 08:25] rakshaa2000 commented on #105
Sure, I'll work on it ✌

[2020-10-02 09:47] gimseng commented on #42
Hi @tanviagwl98 thanks for the interest. What data and models do you have in mind?
@pragyakapoor could you tell us more on the project, what data and models you are using? If both of you have different examples, then its great to have both contributions ( and PRs ). If there's overlap, maybe we can discuss further here how to collaborate.

[2020-10-02 16:38] tanviagwl98 commented on #42
@gimseng I have idea of "Cartoonization of Images" using opencv and numpy with some filter and edge detection. In this project There is need of picture to perform cartoon editing using python script. Please let me know if I should go further with this or not?

[2020-10-03 06:03] sophieml commented on #41
Hi,

[2020-10-03 06:10] sophieml commented on #41
Hi,

I'd like the chance to work on this! I've been working with Transformer neural networks in my academic research work, and I'm interested in creating an exercise that uses GPT-2 to learn to generate poetry.

## Learning Goals
Learn how to fine-tune pretrained models to apply to more specific NLP tasks. In particular, someone could use this exercise to compare the results from Transformer archi

[2020-10-03 16:15] cemeiq commented on #97
@gimseng I plan to use sms spam classification dataset [https://www.kaggle.com/uciml/sms-spam-collection-dataset](https://www.kaggle.com/uciml/sms-spam-collection-dataset) and I am looking into implementing  SVM - Support Vector Machines using Linear Kernel

[2020-10-03 18:00] AjayKhalsa opened #114 "[DOC] Add hacktoberfest as a topic for this repo"
Hacktoberfest has made participation for maintainers to the event as opt-in
https://hacktoberfest.digitalocean.com/hacktoberfest-update
@gimseng To get contributions for hacktoberfest you would need to add a 'hacktoberfest' topic in the about section.
Refer to the above guide for more info.

[2020-10-03 19:10] pragyakapoor commented on #42
@tanviagwl98 I have done a similar thing which was live sketching and it
uses edge detection as well. So, maybe you could work on something
different?

On Fri, Oct 2, 2020 at 10:08 PM Tanvi Agarwal <notifications@github.com>
wrote:

[2020-10-04 05:01] Rajwrita commented on #35
https://github.com/Rajwrita/Tensorflow-in-Practice this is the repo I have with codes for the course: Tensorflow in Practice, let me know if I could contribute this to this project. Thanks

[2020-10-04 05:23] Rajwrita commented on #43
https://github.com/Rajwrita/Grokking-Machine-Learning/blob/master/Gradient%20descent%20method%20for%20linear%20regression.ipynb

Do you this will help? I could make a PR adding this notebook then.

[2020-10-04 08:19] Azhad56 opened #116 "LinkedIn Automation Bot"
Hello, I have a project on automation which is LinkedIn Automation. It automatically logs in and goes to the My Network page. And then It started making connections with the suggested users. It runs in a while loop. And it makes connections in an interval of time.
Could I add it to 99 Machine Learning Projects?

[2020-10-04 08:21] #116 closed

[2020-10-04 08:22] Azhad56 opened #117 "LinkedIn Automation Bot"
Hello @gimseng, I have a project on automation which is LinkedIn Automation. It automatically logs in and goes to the My Network page. And then It started making connections with the suggested users. It runs in a while loop. And it makes connections in an interval of time.
[12:24 PM]
Could I add it to 99 Machine Learning Projects?

[2020-10-04 08:29] Azhad56 opened #118 "Web Scrapping Project"
I want to add a topic for beautifulsoup and I also want to add some advanced topics like crawling the Goodreads website and making data frame for the author, quotes, and tags, etc.

[2020-10-05 10:16] gimseng commented on #41
@sophieml Great ! I think its a great idea, thanks for contributing. Please check out the contributing guidelines and some of the previous projects to understand how we organize and format the projects. Looking forward to your PR.

[2020-10-05 10:17] gimseng commented on #97
Great @cemeiq ! Seems like you have exactly what I had in mind. Please read the contributing guidelines and look at how we formatted previous projects. Looking forward to your PR.

[2020-10-05 10:21] gimseng commented on #114
Hi @AjayKhalsa thanks ! I just did that. I see that you/someone else added the appropriate label for PR. Thanks ! Feel free to close this when you are satisfied.

[2020-10-05 10:25] gimseng commented on #117
Hi @Azhad56, thanks for the issue. I'm confused how this is a machine learning project? Could you comment on the data and models you are using?

[2020-10-05 10:27] gimseng commented on #118
@Azhad56 Thanks for the issue. This seems to be a good data source/collection project.
We haven't had one for this, but I do think it is an important part of data science/machine learning. Besides from scraping, do you do some ETL/cleaning-up too? If so, definitely a project of interest.

[2020-10-05 10:42] gimseng commented on #35
@Rajwrita I think either NLP or time series types projects will be good additions to the repo. Feel free to suggest a particular favorite project here.

[2020-10-05 13:39] Azhad56 commented on #118
Okay.
I will make a project which will scrap data, perform data preprocessing and data visualization, etc.

[2020-10-05 13:44] gimseng commented on #118
Great @Azhad56 thanks ! Please look at the contributing guidelines and our previous projects so to understand how we organized and format things.

[2020-10-05 14:24] tanviagwl98 commented on #42
I will go through your project @pragyakapoor if it will reflect similar to yours I will try something else.
But I think there may be differences and help beginners understand efficiently if both are posted.

[2020-10-05 14:45] Azhad56 commented on #118
Yes I have explored that thing

[2020-10-05 16:11] glitch401 commented on #100
Greetings, could i get started with this issue ?

[2020-10-06 06:58] iishipatel commented on #95
Can I be assigned to this issue as well?

[2020-10-06 07:30] iishipatel opened #121 "[EXE] Face Detection using HaarCascade"
#### Learning Goals
- Basic image processing skills using OpenCV
- What are HaarCascades? and how are they used

### Exercise Statement
Code a simple face detection script using OpenCV and Haarcascade

### Prerequisites
- Basics of OpenCV
- OpenCV installed
- Haarcascade files

### Data source:
[HaarCascade Library](https://github.com/opencv/opencv/tree/master/data/haarcascades)

### Further Links

[2020-10-06 07:34] iishipatel commented on #18
Can we contribute existing cheatsheets or have to prepare new ones?

[2020-10-06 12:40] gimseng commented on #121
Thanks @iishipatel ! I have no idea what's Haarcascade, so looking forward when you submit a PR.
Please take some time to read the contributing guidelines and get familiar with a few older projects in this repo, so that you understand how we structure things. Thanks !

[2020-10-06 12:41] gimseng commented on #100
Hi @glitch401 it seems like PR #113 has been submitted to address this. Perhaps you could follow the PR thread there, and if @glitch401 needs some help, maybe you could assist on that.

[2020-10-06 12:46] gimseng commented on #18
Thanks to @Dhruv-VINT and PR #122, we have cheatsheets for numpy and pandas now.
Anyone (e.g. @iishipatel)  should feel free to work on other cheatsheets:

- [ ] Python refresher
- [x ] Numpy and Pandas cheatsheet
- [ ] Sklearn cheatsheet
- [ ] PyTorch cheatsheet
- [ ] TensorFlow cheatsheet

[2020-10-06 12:55] gimseng commented on #95
Hi @iishipatel, let us check with @shree5101 to see what they have in mind. I am fine with >1 project on this, if they are of different nature (e.g. diff. data set or diff approaches/emphasis). Maybe @shree5101 could comment on what progress/data/model they are working on.

[2020-10-06 12:59] gimseng commented on #118
Cool @Azhad56, looking forward to your PR.

[2020-10-06 13:04] gimseng opened #123 "[EXE] Gaussian Process regression (time series"
#### Learning Goals
Learn simple gaussian process (GP) regression on a time-series data

### Exercise Statement and data
Learn and explore how to use GP and apply it to interesting time-series data. I have in mind some stock market data or covid infection data.

### Prerequisites
Basic understanding of regression. A bit of understanding of normal distribution and GP.

[2020-10-06 13:10] gimseng opened #124 "[DOC] Create a learning roadmap"
Related to #25, it'd be good to create a data science/machine learning beginner roadmap.

And once we get enough projects, hopefully the roadmap makes use of our available projects to guide learners on a project-based roadmap.

And if there are good project suggestions to fit into this roadmap, we could create exercise suggestions for these new projects.

[2020-10-06 13:16] gimseng opened #125 "[EXE] Learn Kriging (i.e. Gaussian process interpolation)"
#### Learning Goals
Extending Gaussian process (GP) exercise proposed in #123, use GP to interpolate / upsample spatial data, i.e. Kriging.

### Data source/summary:
Some geospatial data will be useful.

[2020-10-06 13:17] gimseng opened #126 "[EXE] Learn ARIMA"
#### Learning Goals
Learn the ARIMA models for time series season/trend analysis and forecast.

[2020-10-06 13:23] #76 closed

[2020-10-06 13:36] #100 closed

[2020-10-06 15:24] iishipatel commented on #121
Thanks! I will work on this ASAP

[2020-10-06 18:27] sanchitvj opened #127 "[FEA]How to write a custom training loop from scratch in Tensorflow(v2.3)."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
For the people who want to learn the Tensorflow framework and get the experience of how to use it from scratch.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I've recently done a project i

[2020-10-06 18:40] Mrsterius opened #128 "Reinforcement Learning using OpenAI gym"
#### Learning Goals
Learn the concept of Reinforcement learning by solving the cartpole player problem with the use of OpenAI gym.

### Exercise Statement
This exercise helps in learning reinforcement learning using 2 approaches. First, using random playing strategy multiple times and saving parameters for the best average episode. Second, using Deep Q-Learning strategy to optimize the parameters,

[2020-10-07 12:32] gimseng commented on #128
Hi @Mrsterius thanks for the suggestion, i think it'll be a fun project to add to our repo.

Please read the contributing guidelines and look at our other projects to follow our format and organization. Thanks!

[2020-10-07 12:34] gimseng commented on #127
Hi @sanchitvj thanks for the suggestion. I assume  you meant to propose a GMAN net exercise ?
I didn't quite get what you meant by "write a custom training loop".

[2020-10-07 14:02] Dhruv-VINT commented on #42
I can add a fun OpenCV project for this issue ! @gimseng you must have heard about that Invisibility cloak project, it's super easy and thoroughly implements OpenCV. What do you think?

[2020-10-07 18:27] sanchitvj commented on #127
Yes, you got my point, let me clarify your doubt. I meant here is to explain how to write a training loop by ourselves in the situations when we can't use fit, predict with dataset in Tensorflow. Like sometimes in situations when our dataset is semi-supervised learning based so we have to write a training loop by ourselves. Example: [check here](https://github.com/sanchitvj/Image-Dehazing-using-GM

[2020-10-08 06:33] angelinjohn commented on #43
Is this still open for contribution? Would like to work on it

[2020-10-08 08:47] gimseng commented on #127
@sanchitvj I see, I got what you meant. That sounds like a nice illustration of the training loop.

Do read the guidelines for contributions and take a look at some of our previous projects so to understand how to organize and format your PR. Thanks !

[2020-10-08 09:39] Damanpreet opened #129 "Applying object filters using Mask RCNN"
#### Learning Goals
Learn about the following
- Instance segmentation.
- Creating a web-based application.
- Image Processing

### Exercise Statement
Create a web-based application that will allow a user to apply a different filter to each object in an image.

### Prerequisites
What is instance segmentation
Mask RNN, for instance segmentation
Image Processing features like increasing or decreasing

[2020-10-08 09:43] gimseng commented on #129
Hi @Damanpreet that sounds like a cool project, thanks ! Be sure to check out the contributing guidelines and a few of the previous projects to understand our format/conventions. Thanks !

[2020-10-08 09:47] Damanpreet commented on #129
Great, thanks! Will checkout.

[2020-10-08 09:56] Damanpreet opened #130 "[EXE] Predicting house prices"
#### Learning Goals
PCA, Linear Regression, Lasso Regression, Ridge Regression, Elastic Net and Gradient Boosting Technique

### Exercise Statement
Predicting house pricing by using advanced regression techniques.
Using PCA for feature selection.

### Prerequisites
Know the basics of each concept stated in learning goals.

### Data source/summary:
Kaggle.

I would like to start with this first.

[2020-10-08 11:07] #108 closed

[2020-10-08 11:38] tanviagwl98 opened #131 "[EXE]Mine vs Rock"
#### Learning Goals
Learn the concept of neural networks and tensorflow framework

### Exercise Statement
Mines vs Rocks, identifying whether the obstacle is rock or a mine
[e.g. apply simple random-forest model to classify titanic survivability from titanic data ]

### Prerequisites
Primary programming language like python, confusion matrix, epoch definition.

### Data source/summary:
https://www

[2020-10-08 11:49] gimseng commented on #130
Hi @Damanpreet thanks ! This seems cool. Since we already had regression projects on housing prices, it'd be cool to focus on PCA and gradient boosting technique.

Another good thing is to discuss in depths regularization, if that's something you want to do.

Thanks !

[2020-10-08 11:50] gimseng commented on #131
@tanviagwl98 sounds like another cool project, looking forward to your PR. Thanks !

[2020-10-08 11:52] tanviagwl98 commented on #131
Will be adding a PR soon @gimseng ,thanks!

[2020-10-08 14:00] gimseng commented on #43
Hi @anandravishankar12 @ashishthanki @Rajwrita and @angelinjohn:

Thanks all for the interest. Could you guys elaborate how / which part of SGD you want to work on?
I could envision different data set, different models (standard ML or deep models), and diff SGD (full GD, mini-batch SGD and etc) and maybe some discussions of learning rate. I think there could be 1-3 projects delving deeper in to th

[2020-10-08 14:02] gimseng commented on #42
Hi @Dhruv-VINT, that sounds like a fun project. I am not very familiar with openCV, though played around with #91, but do make sure that one can run it on google colab. I seem to have trouble with #91 in getting it to turn on my camera or something.

Thanks !

[2020-10-08 17:10] thenorthkun commented on #42
Yes, Although my project is also implemented on a local system but I'll try to figure it out how to run it on google colab.

[2020-10-08 17:49] tejasvi541 opened #132 "[EXE] Wine Classification"
## Learning Goals
- Building a Model Using Scikit-learn with Wine Classification Data
- Building Pipelines to preprocess the incoming data before feeding to the model.
- Checking the Accuracy using `cross_val_score`

### Exercise Statement
Applying Simple Data Preprocessing and Different models to Classify Wines

### Prerequisites
- Python
- Scikit-Learn
### Data source from UCI Machine Learning R

[2020-10-08 20:22] Damanpreet commented on #130
@gimseng Thanks for your suggestion, will also try that out!

[2020-10-09 05:23] Azhad56 commented on #118
Hi @gimseng, The Project is nearly complete. I will push it by today.

[2020-10-09 12:24] sanchitvj commented on #127
@gimseng I've sent the PR. Can you please check if it is suitably organized for merging?

[2020-10-09 14:04] Mridul20 commented on #85
Can I contribute to this task @gimseng

[2020-10-09 14:09] Mridul20 commented on #85
I have an idea of implementing a simpler logistic regression model example like cancer survial using sklearn and include some data preprocessing steps.

[2020-10-09 14:19] Mrsterius commented on #128
Hi @gimseng,

Submitted. Please let me know if there are any changes required.

[2020-10-11 18:59] AayushK47 commented on #18
Hi @gimseng, I can create cheatsheet for Python refresher if no one else is working on it. Could you assign it to me?

[2020-10-13 12:24] #114 closed

[2020-10-16 03:53] ksdkamesh99 commented on #85
@iamarpan There is no progress from your side so can i start

[2020-10-16 03:55] ksdkamesh99 commented on #129
I want to work on it please do assign me @gimseng @Damanpreet

[2020-10-16 04:33] Damanpreet commented on #129
@ksdkamesh99 I am already working on this. I will let you know if I need any help with this.

[2020-10-16 06:41] iamarpan commented on #85
@ksdkamesh99  yes you can go forward with this one

[2020-10-18 04:34] nikunj-taneja commented on #95
I would like to take up this issue as well, of course with a different dataset/approach!

[2020-10-18 04:38] nikunj-taneja commented on #96
I would like to take up this exercise @gimseng. This is what I have in mind - a shallow neural network on MNIST/CIFAR10 trained with different kinds/combinations of regularisations using PyTorch and an analysis of results. Or maybe I could train a CNN using Google Colab and analyse results of using dropout vs not using dropout too along with another regularisations? The final results would be in t

[2020-10-18 04:54] nikunj-taneja opened #140 "[EXE] Intro to NLP using nltk and tf-idf for sentiment classification"
#### Learning Goals

- Word embeddings
- Stemming v/s Lemmatisation
- TF-IDF Algorithm
- Sentiment Classification

### Exercise Statement
Use the nltk and scikit-learn libraries to learn basic NLP concepts like word embeddings, stemming, lemmatisation, tf-idf algorithm and apply these concepts in a sentiment classification task on the IMDb Movie Reviews dataset (http://ai.stanford.edu/~amaas/data/

[2020-10-19 17:46] QasimKhan5x opened #142 "[EXE] Human Faces GAN"
#### Learning Goals

- Get hands-on experience with generative modeling
- Use convolutional neural networks with PyTorch
- Learn the foundations of the concepts used to create deep fakes

### Exercise Statement

- Create a Deep Convolutional GAN to generate fake human faces using CelebA data

### Prerequisites

- Basics of creating neural networks in PyTorch
- Data Augmentation and Regularization

[2020-10-19 22:42] des137 opened #143 "[EXE] Introduction to Bayesian Statistical Modeling"
#### Learning Goals
- Learn the concepts behind Bayesian statistical modeling with PyMC3
- Compare and contrast the frequentist and the Bayesian inference approaches

### Exercise Statement
Compare the stochastic gradient based frequentist's method vs. probabilistic Bayesian method to solve a simple linear regression problem and interpret and contrast the outcomes from both the approaches.

### Pr

[2020-10-20 13:33] devakisj1 commented on #132
Please assign this issue to me

[2020-10-21 02:39] zchoy001 commented on #96
@gimseng Hi i would like to create a new project to further build on your existing linear regression code on housing to include various regression techniques, such as ridge, lasso to compare and illustrate the differences in results and techniques. Thanks! Please assign me. Please let me know if it is ok.

[2020-10-23 11:40] cemeiq commented on #97
@gimseng, I've submitted the PR.

[2020-10-25 12:02] Dbhasin1 opened #146 "[EXE] Building a medical chatbot using NLTK and Tkinter"
Learning Goals

- the basics of NLP such as tokenizing and lemmatizing using the NLTK library
- deploying machine learning models using python's Tkinter library

Exercise Statement
Provided a dataset of common phrases mainly in context to the medical field, build a chatbot that answers your medical queries

Prerequisites
dropout, SGD, Keras

Data source/summary:
Dataset contains a json file consis

[2020-10-27 07:26] shivang8 commented on #85
@iamarpan I am interested in working on this part.

[2020-10-27 09:21] darestack opened #147 "[EXE]"
**Learning Goals**

- To know the best among the five Naive Bayes algorithms in analyzing the sentiment analysis
         Gaussian, Categorical, Complement etc

- The basics of NLP such as tokenizing and lemmatizing using the NLTK library

- The use of both TFIDF and CountVectorizer

Exercise Statement
Provided a dataset of users' reviews of negative and positive classier, the model should be able

[2020-10-27 09:23] darestack opened #148 "[EXE] Determine which Naive Bayes algorithm is the Best to analyse Sentiment"
**Learning Goals**

- To know the best among the five Naive Bayes algorithms in analyzing the sentiment analysis
         Gaussian, Categorical, Complement etc

- The basics of NLP such as tokenizing and lemmatizing using the NLTK library

- The use of both TFIDF, CountVectorizer, Pipeline

Exercise Statement
Provided a dataset of users' reviews of negative and positive classier, the model should

[2020-10-27 09:33] #147 closed, assigned to nobody

[2020-10-30 07:20] namankhurpia commented on #94
hey @gimseng, can I try this code, I m new to machine learning but i can definitely do decision trees.

[2020-10-30 07:21] namankhurpia commented on #94
Since comments and replies take a lot of time, I m making a PR, please check it and approve it ... I am a first timer here

[2020-11-01 01:31] namankhurpia commented on #95
I would like to contribute here as well as part of hacktoberfest, please maintainer accept it

[2020-11-13 21:47] hash-ir opened #150 "[EXE] Robustness of Machine Learning Models"
### Learning Goals
- Create adversarial examples of input data using gradient descent (e.g Fast Gradient Attack)
- Train and visualize predictions of semantically same inputs (original and perturbed)
- Quantitative evaluation of the accuracy against training time (including adversary creation)

### Exercise Statement
Create adversarial examples and train a CNN on clean and perturbed data using PyT

[2020-11-13 21:55] hash-ir opened #151 "[EXE] Predictive modeling using temporal data"
### Learning Goals
- Create a multi-layer perceptron model from scratch using NumPy
- Understand forward pass, backpropagation and hyperparameter tuning from the ground up

### Exercise Statement
Create a 2-layer neural network using NumPy to predict future ridership data based on the historical data

### Prerequisites
- Basic knowledge of NumPy and neural networks

### Data source/summary:
[Bike

[2020-11-18 19:32] aldermartinez opened #152 "[BUG] Exercise 007 is missing"
**Describe the bug**
I was going through the different exercises and noticed the solution folder for exercise 7 only has a readme file but no solution. Is that expected?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Have a solution

**Screenshots**
If applicable, add screenshots to help explain your

[2020-11-29 20:37] dermarkr commented on #151
Hi, I'd like to work on this with a couple of others for a school project. We'll be basing it on your blog post.

[2020-12-02 22:45] hash-ir commented on #151
@dermarkr Sure, let me know if you need any help!

[2020-12-18 16:25] aparajitanandi1608 commented on #18
Hi @gimseng. I would like to work on the Tensorflow cheatsheet if no one is working on it. Thanks

[2021-01-02 23:54] pranavkhekare opened #154 "[EXE] Creating a CNN for classification"
#### Learning Goals
1. Image dataset generation from images collected around the web
2. Building a convolutional neural network (Pytorch and keras) for classification

### Exercise Statement
Design and apply a simple convolutional neural network for binary classification

### Prerequisites
Convolutional neural networks, supervised learning, OpenCV

### Data source/summary:
Will implement classific

[2021-04-06 09:47] 09try commented on #121
Hello, is this exercise finished? I couldn't find it in pull requests and also not in the Table Of Contents under Computer Vision. If it is still relevant I could work on it. Thanks.

[2021-04-10 05:38] iamarpan commented on #84
@gimseng Sorry was a bit occupied with office work. Can I pick this one now?

[2021-06-05 20:56] Harbeeholar opened #155 "[EXE] KNN Clustering of Stitched Images"
#### Learning Goals

1. learning the concept of Image Stitching and Knn  Clustering using opencv

### Exercise Statement

1. Finding Keypoints of images using Local invariant descriptors (SIFT, SURF, etc)
2. Finding Feature matching using RANSAC
3. Perspective warping

### Prerequisites
 opencv, numpy, matplotlib, imageio

### Data source/summary:
  Stitching can be performed on any two images

##

[2021-06-19 05:53] pritishaw1 opened #157 "[EXE] Handling imbalanced datasets"
#### Learning Goals
1. Learning different techniques that one needs to adapt if there is an imbalance in the dataset.

### Exercise Statement
1. Different Resampling techniques to handle the dataset imbalance.

### Prerequisites
[Prerequisites, in terms of concepts or other exercises in this repo]
Python, Jupyter notebook, Basics of ML

### Data source/summary:
Dataset: I will be using an imbalanc

[2021-07-04 13:11] mvresh commented on #19
Also there are other ML paper implementations that are not updated and throw errors when users try to run them now. Those could be added to this section as well.

[2021-08-17 17:00] DaggerAJ commented on #43
@gimseng I wanted to contribute to this 'A simple exercise to understand stochastic gradient descent' . My approach is to make dataset with make classification and then apply logistic regression with l2 reg using sgd from sklearn on the dataset and then apply sgd from scratch on the same dataset . Then will compare both model loss .

[2021-08-18 02:39] gopichandpuli9 commented on #90
Can I work on this issue now?

[2021-08-18 02:41] gopichandpuli9 commented on #132
@tejasvi541 Can I work on this issue?

[2021-08-18 05:09] sarthak7509 opened #159 "English to French seq-seq model usinge single head attention model"
#### Learning Goals
* Learn concept of dual Encoder model
* Text Vectorization using tensorflow
* Single attention model system

### Exercise Statement
* This exercise explain the machine translation of English to French using single head attention model.
* Simple sequence to sequence translation.
* Text vectorization using tf.keras.preprocessing.text

### Prerequisites
* Semantics classifications

[2021-08-18 10:40] AdarshSrungarapu opened #161 "[BUG] Exercise 007 is missing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-08-18 10:41] AdarshSrungarapu commented on #161
While  going through the different exercises i  noticed the solution folder for exercise 7 only has a readme file but no solution

[2021-08-18 17:56] pingo9o1 commented on #154
Hello, I would like to contribute to this issue. Can you assign this to me, or should I directly fork the repo and make a PR? Thank You.

[2021-08-19 06:36] TerMinator-spec commented on #43
Hey, I want to work on this issue
I will implement the full gradient descent and batch gradient descent from scratch on a simple regression problem. Shall I go ahead?

[2021-08-23 01:52] msethi006 opened #165 "[EXE] Implementing U-Net for Image Segmentation"
**Learning Goals**
1.) Downloading dataset from PlantVillage and doing annotations for segmentation.
2.) Implementing the U-Net architecture from scratch in Tensorflow.

**Exercise Statement**
Implement U-Net architecture for Plant Leaf Disease Detection.

**Prerequisites**
Deep-Learning, Convolutional Neural Networks.

**Data source/summary**
PlantVillage Dataset (https://www.kaggle.com/emmarex/p

[2021-08-24 16:36] sridhatta commented on #49
Hi @gimseng I am interested to take up this exercise. Please let me know if you can assign it.

[2021-08-24 16:42] sridhatta commented on #41
Hi @gimseng I am interested to take up this exercise. Please let me know if you can assign it.

[2021-08-25 09:03] anshu-cloud commented on #95
Hey, this is a very good learning opportunity for me am new to open source contribution. I liked this project, and i can really work on providing good  detailed exercise on decision learning algorithm. And am going to use social networking adds where we will try to predict whether a person will click through add or not based on some factors. If its open ill love to work on this.

[2021-08-27 21:47] Namangarg110 commented on #165
I have worked a similar project on electrical substation masking. And I would like to contribute with the same

[2021-08-30 15:51] vaibhavmudgal commented on #142
Hi. I am really interested in it. Can you assign me this issue.
ps. I have started working on the problem using Tensorflow.
Thankyou!!

[2021-08-31 06:31] Abdullah-khan399 opened #169 "Can we add a new ML project [EXE]"
#### Learning Goals
I want to contribute a model that will detect a car in a live stream or video and recognize characters on number plate of the car .

### Exercise Statement
WE used CRNN algorithm for character recognition and EAST( Efficient and accurate scene text detector) algorithm for text detection. It will use the characters and fetch the owners information using RTO API’s . We connected

[2021-09-30 07:06] SmallLion opened #174 "Advanced Voice Assistant (Python, AI)"

[2021-09-30 07:14] #174 closed, assigned to nobody

[2021-10-01 15:34] ramya-neelakantan opened #175 "[EXE] Breast Cancer Prediction"
**Is your feature request related to a problem? Please describe.**
Breast Cancer Prediction using KNN algorithm. Can be used in the future for early prediction of breast cancer in women, which can, in turn, save lives.

**Describe the solution you'd like**
I will use Data Preprocessing, then the KNN algorithm to predict whether a tumor is benign (B) or Malignant (M).

[2021-10-03 13:45] ashwinimishra24 commented on #175
Hey assign me this issue I had a great ML background and at Kaggle I had done lots of successful submissions.
Last week I had taken this breast cancer prediction project for my university minor project so I had already researched a lot and I can assure you that I can come up with the best accuracy model.

[2021-10-04 09:26] BrianTshatiwa-zz opened #179 "[EXE]"
#### Learning Goals

I want to contribute code on how to transfer learn from BERT for text classification

### Exercise Statement

Transferring embeddings from BERT to a feed-forward neural network for text classification

### Prerequisites

Knowledge on text classification, tensorflow and sklearn

### Data source/summary:

Will implement the model on disaster tweets dataset
Dataset name: Disaster

[2021-10-04 09:27] BrianTshatiwa-zz opened #180 "[EXE] Transfer Learn From BERT for Text Classification"
#### Learning Goals

I want to contribute code on how to transfer learn from BERT for text classification

### Exercise Statement

Transferring embeddings from BERT to a feed-forward neural network for text classification

### Prerequisites

Knowledge on text classification, tensorflow and sklearn

### Data source/summary:

Will implement the model on disaster tweets dataset
Dataset name: Disaster

[2021-10-04 09:28] #179 closed, assigned to nobody

[2021-10-07 17:54] TITHI007 commented on #140
Shall I work on these project as I have taken part in Hacktoberfest and I am want to make a project based on nlp..!?
Pl. assign these issue to me .

[2021-10-09 07:20] Omgupta0312 opened #182 "[EXE] Want's to add a computer vision project ."
#### Learning Goals
Computer Vision : Image(RGB format) to Black&white PencilSketch.

### Exercise Statement
[Explain and describe what the exercise is]
**IMAGE TO PENCIL SKETCH WITH PYTHON :-**

We need to read the image in RGB format and then convert it into a grayscale image.
This will turn an image into a classic black and white photo.
Then the next thing to do is invert the grayscale image al

[2021-10-09 07:21] Omgupta0312 commented on #182
if possible please assign me this task.

regards

[2021-10-13 09:14] khusheekapoor opened #183 "[EXE] EDA on the Palmer Penguins dataset using R"
**A clear and concise description of what the feature is.**
I will perform EDA on the Palmer Penguins dataset using R.

**Is your feature request related to a problem? Please describe.**
It will get new learners introduced to the basic commands in R.

**Describe the solution you'd like.**
I will make use of basic R commands and the tidyverse and ggplot2 libraries.

Please assign this to me under H

[2021-12-12 04:22] bobquest33 commented on #97
This ticket is still open? Can I try it out

[2022-01-14 04:39] M-S-10 commented on #43
Hey there! umm, I wonder why this issue isn't closed yet? I could help!

[2022-03-26 12:29] Prasad-adhi opened #184 "[EXE] Intrusion detection system using machine learning"
#### Learning Goals
Binary classification with a class imbalance dataset

### Exercise Statement
A 3D printer is assumed to be the device whose parameters are received from a server. The 3D printer is simulated to be a delicate machine that when few wrong parameters are loaded, the machine will fail. Thus, it is crucial for a system to detect whether the incoming data is valid or not. Since in the

[2022-05-25 06:31] RobertMeissner commented on #18
What is the status on the Python refresher? It is not yet merged. Does it require more input or help, somehow?

[2022-05-25 08:15] AayushK47 commented on #18
@RMeissnerCC It has not been merged yet. It is pretty much complete I guess. Please review and let me know if any addition is needed.

[2022-05-30 13:40] RobertMeissner commented on #18
Will do. But who would be merging this? I am not reviewing code if it is unclear whether somebody would merge it :)

[2022-06-04 14:38] sriram-1 commented on #157
Priti, I would like to work on this. Please assign it to me.

[2022-09-26 10:16] Tam-Mari commented on #94
Hello! I would love to make a contribution.  Since I'm also still learning,  I'd love to help fellow learners to understand KNN using simple explanations.
Thanks!

[2022-10-01 19:49] Adarsh-N123 commented on #97
Hi, Can I take this Issue.
I have good understanding about Support Vector Machines and I have done some models using it.
I want to contribute to this by using the kaggle dataset of [Predicting the Pulsar Star. ](https://www.kaggle.com/datasets/colearninglounge/predicting-pulsar-starintermediate?select=pulsar_data_train.csv)

[2022-10-01 19:51] 16AbhinavReddy commented on #97
Actually I was also planning to do that. If possible can we both contribute to this project if possible?

[2022-10-02 06:07] Sneha421 commented on #126
Hello @gimseng!
I would love to take up this project for Hacktoberfest 2022!
My idea is to use any GDP dataset and perform time series forecasting using ARIMA.
I can take up the GDP datasets for multiple countries and help compare their economic trends as well!

[2022-10-05 05:31] Prernajha2609 commented on #18
Hii I think maybe some examples with each function would give the cheat sheet more value, I'd like to work on python tensorflow can you guide me on this?

[2022-10-05 05:32] Prernajha2609 commented on #18
@gimseng shall you assign this to me
 or I just create a new one?

[2022-10-06 12:48] prenoyk commented on #42
@gimseng Is this still open? If it is I have a project applies watermark using LSB method

[2022-10-07 15:38] timothynn opened #192 "[EXE] Weather Forecast Prediction Model"
#### Learning Goals
[Learning goals, bulleted/numbered list is preferred]
[e.g. learn the concept and the use of train/validation/test dataset using scikit-learn ]

### Exercise Statement
[Explain and describe what the exercise is]
[e.g. apply simple random-forest model to classify titanic survivability from titanic data ]

### Prerequisites
[Prerequisites, in terms of concepts or other exercises

[2022-10-08 06:46] ishan-kshirsagar0-7 opened #193 "[EXE] Movie Recommendation Project"
#### Learning Goals
Basic data wrangling, data manipulation, and basic Machine Learning concepts.

### Exercise Statement
Movie Recommender is a Machine Learning / Data Manipulation based project, made using Python. It uses libraries like Pandas, Numpy, NLTK, SciKit Learn, etc. It has two types of Recommenders : A "Simple Movie Recommender", which suggests top movies based on the genre inputted by

[2022-10-08 15:15] darpan-2001 opened #194 "E-mail SPAM detection model using Multinomial Naive Bayes algorithm[EXE]"
#### Learning Goals
Naive Bayes algorithm, text feature extraction, sklearn pipeline object.

### Exercise Statement
Create an e-mail spam detection model.

### Prerequisites
Basic understanding of Naive Bayes algorithm, Python and scikit-learn basics.

### Data source/summary:
Dataset if obtained from Kaggle. Data consists of email messages, already labeled as spam or ham.
Link of dataset: https:

[2022-10-08 15:22] darpan-2001 commented on #105
@rakshaa2000 can I work on this issue now?

[2022-10-08 15:34] darpan-2001 commented on #192
Hey @timothynn  can you give the source of dataset and the problem statement.

[2022-10-08 15:36] darpan-2001 commented on #175
Hey @ramya-neelakantan if possible assign this issue to me, I am looking for some interesting projects like this to work on.

[2022-10-08 15:44] Kesavan-Raman opened #195 "[EXE] Credit Card Fraud Detection and Classification using Logistic Regression"
####Learning Goals
Binary Classification, Logistic regression and Data Preprocessing

###Exercise Statement
Credit card fraud classification using Logistic Regression

###Prerequisites
Basic understanding of Logistic regression algorithm, Python and Pandas basics.

###Data source/summary:
Dataset if obtained from Kaggle.
Link of dataset: https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud

###

[2022-10-08 15:56] lucifertrj commented on #194
I will take this one, could you assign me this project @darpan-2001?

[2022-10-08 16:05] darpan-2001 commented on #195
Hey @Kesavan-Raman I can implement this, if possible, assign this issue to me.

[2022-10-09 12:48] manishkumart commented on #95
Hi Maintainer, I would like to contribute my knowledge of decision trees as part of hacktoberfest 2022 with a straightforward approach (Maths + Code) so that whoever reads/executes it can understand the beauty behind various tree algorithms. kindly accept it. Thank you.

[2022-10-09 12:49] Sengar123 commented on #97
@gimseng Hello Sir, I also want to contribute into it kindly provide this to me.

[2022-10-09 19:50] pratik-joshi02 commented on #161
Can You please assign this to me

[2022-10-10 13:34] Moddy2024 commented on #42
@gimseng  Hi I want to contribute to this repo for hacktoberfest 2022. If you have something specific in mind you can tell me that or I will choose some good projects using OpenCV on my own.

[2022-10-10 13:35] Moddy2024 commented on #85
@gimseng Hi I want to contribute to this repo for hacktoberfest 2022.

[2022-10-11 05:22] Blaize99 commented on #43
hey i am interested to take this issue. please assign me this

[2022-10-14 15:33] Sk47R commented on #195
Hey @Kesavan-Raman , I would be grateful if u address me this problem. I will try and solve it with numpy and maths with deeplearning model for binary classification problem.

[2022-10-14 16:59] DLesmes commented on #193
The full version of this exercise will be so great to learn 👍🏾

[2022-10-14 17:23] ishan-kshirsagar0-7 commented on #193
I actually have two Jupyter Notebooks ready for the same

On Fri, 14 Oct 2022 at 10:29 PM Diego Lesmes ***@***.***>
wrote:

[2022-11-07 14:42] Overlrd opened #197 "[EXE] Horses_vs_Humans Classification"
#### Learning Goals

- Learn Convolutional Neural Networks in  Tensorflow
- Learn Multi-dimentional Image Classification
- Learn Image Augmentation

### Exercise Statement

Write a Convolutional Neural Network for binary classification on the horse_vs_human dataset

### Prerequisites
- Computer vision fundamentals including simple neural networks

### Data source/summary:
Horses or Humans is a dat

[2022-11-14 08:05] JG-SSYT opened #198 "[EXE] Develop a sentiment analyzer"
#### Learning Goals
[Learning goals, bulleted/numbered list is preferred]
[e.g. learn the concept and the use of train/validation/test dataset using scikit-learn ]

### Exercise Statement
[Explain and describe what the exercise is]
[e.g. apply simple random-forest model to classify titanic survivability from titanic data ]

### Prerequisites
[Prerequisites, in terms of concepts or other exercises